ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}



ion-item,ion-menu-button
{
    --background: black; 
    color:  #ffa60a;
}

ion-radio
{
     background-color: white;
}

ion-chip,ion-button
{
    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-segment-button
{
    color : #ffa60a;
}

ion-card-title
{
    color : white;
}
img
{
    height: 250px;
    width: 100%;

}
ion-title
{
    margin-left : -10%;
    text-overflow: unset;
    white-space: unset;
    font-size: 20px;
}