ion-toolbar,ion-segment
{
    --background: black; 
}
ion-card
{
    --background: black; 
    color : #ffa60a;
}



ion-item, ion-fab-button
{
    --background: black; 
    color:  #ffa60a;
}

ion-button
{
  color: black; 
  --background:  #ffa60a;

}

ion-chip
{

    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-label
{
    color : white;
    
}
ion-label,ion-icon
{
    color : #ffa60a;
}

ion-card-title
{
    color : white;
}
ion-title
{
    margin-left : -10%;
    text-overflow: unset;
    white-space: unset;
    font-size: 20px;
}