<ion-header>
  <ion-toolbar>
       <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'DASHBOARD.our_contact' | translate }} </ion-title>
    </ion-item> 

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show" >

    <!-- -------------------------------------------------------------------------------------- -->
        <!-- Start contact -->
       <ion-card *ngFor="let contact of mycontact; " >
          
            <ion-card-content>



               <div >
              <ion-grid >
                 <!--  Address -->
                  <ion-row>
                  
                    <ion-col size="2" style="font:30vw" >

                        <ion-icon name="pin-outline"></ion-icon>
          
                    </ion-col>

                    <ion-col size="8">
                      <b>  {{contact.adresse}}  </b> 
                    </ion-col>

                  </ion-row> 
              

              </ion-grid>  
                             
              </div>

                <!-- Postal Address -->

                    <ion-item>
                        <ion-icon name="mail-outline"></ion-icon>
                        <ion-label style="size: 20vw;">&nbsp;&nbsp;&nbsp; <b> {{contact.adresse_postal}}</b></ion-label>
                    </ion-item>


                <!-- Telephone-->
                  <!-- <ion-item>
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-label style="size: 20vw;">&nbsp;&nbsp;&nbsp; <b> {{contact.telephone}}  </b></ion-label>
                  </ion-item>   -->

                  <ion-item (click)="callNumber()">
                      <ion-icon name="call-outline"></ion-icon>
                      <ion-label style="size: 20vw;">&nbsp;&nbsp;&nbsp; <b> +91-6284134683 </b></ion-label>
                  </ion-item> 
                
               <!-- Whatsapp -->
                    <!-- <ion-item>
                        <ion-icon name="logo-whatsapp"></ion-icon>
                        <ion-label style="size: 20vw;">&nbsp;&nbsp;&nbsp; <b> {{contact.whatsapp}}</b></ion-label>
                    </ion-item>  -->
                    <ion-item>
                        <ion-icon name="logo-whatsapp"></ion-icon>
                        <!-- <a href="whatsapp://send?phone=8559080443">8559080443</a> -->
                        <ion-label style="size: 20vw;" tappable (click)="openWhatsapp()">&nbsp;&nbsp;&nbsp; <b>+91-6284134683</b></ion-label>
                    </ion-item>

                <!-- Email -->

                   <ion-item>
                        <ion-icon name="at-outline"></ion-icon>
                        <ion-label style="size: 20vw;">&nbsp;&nbsp;&nbsp; <b> {{contact.email}}</b></ion-label>
                    </ion-item>
              
                
                
                   
              
               

          
            </ion-card-content>
      </ion-card>
        <!-- Stop Contact -->
    <!-- -------------------------------------------------------------------------------------- -->

      
          <!-- Start : Fab button links -->
          <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button><ion-icon name="share-social-outline"></ion-icon></ion-fab-button>
              <ion-fab-list side="start">
                <!-- facebook -->
                <ion-fab-button (click)="openFacebook()">
                  <ion-icon name="logo-facebook" ></ion-icon>
                </ion-fab-button >
                  <!-- twitter -->
                <ion-fab-button (click)="openTwitter()">
                  <ion-icon name="logo-twitter"></ion-icon>
                </ion-fab-button>
                  <!-- linkedin -->
                <ion-fab-button (click)="openLinkedin()">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </ion-fab-button>
                <!-- instagram -->
                <ion-fab-button (click)="openInstagram()">
                  <ion-icon name="logo-instagram"></ion-icon>
                </ion-fab-button>
                <!-- google plus -->
                <ion-fab-button (click)="openGoogleplus()">
                  <ion-icon name="logo-google"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>

          </ion-fab>
        <!-- End Fab button list -->


</ion-content>
