.center-button{
    margin-left: 35%;
    margin-right: 30%;
  
  }

  .cell-input {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
  }

  ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}
ion-card-title
{
    margin-left:20%;
}


ion-item
{
    --background: black; 
    color:  #ffa60a;
}

ion-chip
{
    color: black; 
    --background: white;
}
ion-button
{
    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-segment-button
{
    color : #ffa60a;
}

ion-card-title,ion-textarea
{
    color : white;
}

ion-searchbar
{
    background : white;
    color : black;
}