<ion-header>
  <ion-toolbar>

      <ion-item>
          <ion-icon color="light" name="chevron-back" (click)="prev()" ></ion-icon>
          <ion-title>Car Reservation</ion-title>
      </ion-item>  
  </ion-toolbar>
</ion-header>

<ion-content>





       <ion-card  *ngIf="!isSearchbarOpened">
        <ion-card-header>

         <ion-card-title style="margin-buttom:10%; margin-left:30%"> RESERVATION </ion-card-title>
              <!-- Label only -->
          <ion-segment [(ngModel)]="rent_type">
            <ion-segment-button  value="hour">
              <ion-label>Per Hour </ion-label>
            </ion-segment-button>
            <ion-segment-button value="day">
              <ion-label>Per Day</ion-label>
            </ion-segment-button>
            <ion-segment-button value="airport">
              <ion-label>Airport pickup</ion-label>
            </ion-segment-button>
          </ion-segment>

        </ion-card-header>

        <ion-card-content>
             
              <!-- Search Bar -->
               <ion-searchbar placeholder="Destination (*) "[(ngModel)]="searchQuery" (click)="click_bar()" (ionCancel)="onCancel($event)" (ionClear)	="onCancel($event)" (ngModelChange)="change_query($event)" showCancelButton="focus"></ion-searchbar>
                
                <ion-list *ngIf="show_list">
                   <ion-item *ngFor="let item of list_to_show; let i = index">
                       <ion-label (click)="click_item(i)" > {{item}} </ion-label>
                   </ion-item>
                </ion-list>


                <!-- Price -->

                <ion-item>
                    <ion-label > Price :</ion-label>
                    <ion-chip slot="end"> 65000 F Cfa </ion-chip>
                </ion-item>
                <!-- start date -->
                <ion-item  >
                  <ion-label>Start Date (*)</ion-label>
                  <ion-datetime [value]="today" [min]="today" [max]="maxdate" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item >
                  <ion-label>Start Time (*)</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item  *ngIf="rent_type =='day' ">
                  <ion-label>Return Date (*)</ion-label>
                  <ion-datetime [value]="today" [min]="today" [max]="maxdate" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item  *ngIf="rent_type =='hour' || rent_type =='day' ">
                  <ion-label>Return Time (*)</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>
                <!-- departure -->
                <ion-item  *ngIf="rent_type =='airport' ">
                  <ion-input placeholder='Departure Venue (*)' ></ion-input>
                </ion-item>

                

        </ion-card-content>
      
  </ion-card>
      
      <!-- type of reservation -->


  <!-- optional services -->
       <ion-card>
     
        <ion-card-header>
          <ion-card-title>Other Services  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
                  
                <!-- <strong> <ion-label style="text-decoration: underline; margin-left:4%"> Optional Services : </ion-label> </strong> -->
                  
                  <!-- baby seats -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">Baby Seats  -   12000 F cfa/Day  </label>
                </ion-item>
                
                  
                  <!-- Additional co-pilot -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">Additional co-pilot   -  15000 F cfa/Day  </label>
                </ion-item>

                  <!-- Assistant translator -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">Assistant translator  -   16000 F cfa/Day  </label>
                </ion-item>
        </ion-card-content>
        </ion-card>

       

        <!-- Message -->
        <ion-card  style="height: 255px;">
     
            <ion-card-header>
              <ion-card-title>Message</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                
                  <ion-textarea  class="cell-input" auto-grow="true" maxlength="400" placeholder="Enter any message here..."></ion-textarea>

            </ion-card-content>

        </ion-card>

           <!-- submit your reservation -->
        <!-- <ion-button expand="round" class="center-button" >Submit</ion-button> -->


</ion-content>
<ion-footer>
  <!-- <ion-toolbar> -->
      <ion-button expand="full"> Submit </ion-button>
  <!-- </ion-toolbar> -->
</ion-footer>