<ion-header>
  <ion-toolbar>

      <ion-item>
          <ion-icon color="light" name="chevron-back" (click)="prev()" ></ion-icon>
          <ion-title>{{"RESERVECAR.title"| translate}}</ion-title>
      </ion-item>  
  </ion-toolbar>
</ion-header>

<ion-content>





       <ion-card  *ngIf="!isSearchbarOpened">
        <ion-card-header>

         <ion-card-title style="margin-buttom:10%; margin-left:30%"> RESERVATION </ion-card-title>
              <!-- Label only -->
          <ion-segment [(ngModel)]="rent_type">
            <ion-segment-button  value="hour">
              <ion-label>{{"RESERVECAR.per_hour"| translate}} </ion-label>
            </ion-segment-button>
            <ion-segment-button value="day">
              <ion-label>{{"RESERVECAR.per_day"| translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="airport">
              <label textWrap="true" style="font-size:0.9em">{{"RESERVECAR.airport_pick"| translate}}</label>
            </ion-segment-button>
          </ion-segment>

        </ion-card-header>

        <ion-card-content>
             
              <!-- Search Bar -->
               <ion-searchbar placeholder="Destination (*) "[(ngModel)]="searchQuery" (click)="click_bar()" (ionCancel)="onCancel($event)" (ionClear)	="onCancel($event)" (ngModelChange)="change_query($event)" showCancelButton="focus"></ion-searchbar>
                
                <ion-list *ngIf="show_list">
                   <ion-item *ngFor="let item of list_to_show; let i = index">
                       <ion-label (click)="click_item(i)" > {{item}} </ion-label>
                   </ion-item>
                </ion-list>


                <!-- Price -->

                <ion-item>
                    <ion-label > {{"RESERVECAR.price"| translate}}</ion-label>
                   
                    <ion-chip slot="end"  *ngIf="rent_type =='day'"> {{car.per_day}} F CFA </ion-chip>
                    <ion-chip slot="end"  *ngIf="rent_type =='hour'"> {{car.per_hour}} F CFA</ion-chip>
                    <ion-chip slot="end"  *ngIf="rent_type =='airport'"> {{car.airport}} F CFA </ion-chip>

                </ion-item>
                <!-- start date -->
                <ion-item  >
                  <ion-label>{{"RESERVECAR.start_date"| translate}}</ion-label>
                  <ion-datetime [value]="today" [min]="today" [max]="maxdate" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item >
                  <ion-label>{{"RESERVECAR.start_time"| translate}}</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item  *ngIf="rent_type =='day' ">
                  <ion-label>{{"RESERVECAR.return_date"| translate}}</ion-label>
                  <ion-datetime [value]="today" [min]="today" [max]="maxdate" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item  *ngIf="rent_type =='hour' || rent_type =='day' ">
                  <ion-label>{{"RESERVECAR.return_time"| translate}}</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>
                <!-- departure -->
                <ion-item  *ngIf="rent_type =='airport' ">
                  <ion-input placeholder='{{"RESERVECAR.departure_venue"| translate}}' ></ion-input>
                </ion-item>

                

        </ion-card-content>
      
  </ion-card>
      
      <!-- type of reservation -->


  <!-- optional services -->
       <ion-card>
     
        <ion-card-header>
          <ion-card-title>{{"RESERVECAR.otherservices"| translate}}  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
                  
                <!-- <strong> <ion-label style="text-decoration: underline; margin-left:4%"> Optional Services : </ion-label> </strong> -->
                  
                  <!-- baby seats -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">{{"RESERVECAR.babyseats"| translate}}  -   12000 F cfa/ {{"RESERVECAR.day"| translate}} </label>
                </ion-item>
                
                  
                  <!-- Additional co-pilot -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">{{"RESERVECAR.additionalpilot"| translate}}   -  15000 F cfa/{{"RESERVECAR.day"| translate}}  </label>
                </ion-item>

                  <!-- Assistant translator -->
                <ion-item>
                    <ion-checkbox color="primary"  slot="end"></ion-checkbox>
                    <label  textWrap="true">{{"RESERVECAR.assistanttranslator"| translate}}  -   16000 F cfa/{{"RESERVECAR.day"| translate}}  </label>
                </ion-item>
        </ion-card-content>
        </ion-card>

       

        <!-- Message -->
        <ion-card  style="height: 255px;">
     
            <ion-card-header>
              <ion-card-title>{{"RESERVECAR.message"| translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content >
                
                  <ion-textarea  class="cell-input" auto-grow="true" maxlength="400" placeholder="{{'RESERVECAR.messageplaceholder'| translate}}"></ion-textarea>

            </ion-card-content>

        </ion-card>

           <!-- submit your reservation -->
        <!-- <ion-button expand="round" class="center-button" >Submit</ion-button> -->


</ion-content>
<ion-footer>
  <!-- <ion-toolbar> -->
      <ion-button expand="full"> {{"RESERVECAR.btn_submit"| translate}} </ion-button>
  <!-- </ion-toolbar> -->
</ion-footer>