<ion-header>
  <ion-toolbar>

    <ion-item *ngIf="!isSearchbarOpened">
           <!-- menu icon -->
      <ion-buttons *ngIf="!isSearchbarOpened" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    
      <!-- title -->
      <ion-title *ngIf="!isSearchbarOpened">{{ 'DASHBOARD.suv_class' | translate }}</ion-title>

   
       <!-- search bar button -->
       <ion-buttons slot="end">
          <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" >
              <ion-icon color="primary" name="search"> </ion-icon>
          </ion-button>
      </ion-buttons>


    </ion-item>

<!-- Search Bar -->
   <ion-searchbar *ngIf="isSearchbarOpened" placeholder="{{ 'DASHBOARD.search_here' | translate }}" [(ngModel)]="term" animated="true" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

     
  </ion-toolbar>
    
</ion-header>

<ion-content *ngIf="show"  >


     <ion-card *ngFor="let item of filterData | filter:term">
    
        <div *ngFor="let photo of item.photo; let i = index " > 
          
          <img *ngIf="i== 0"  [src]="photo.image" />
          
        </div>
        
        <ion-card-header>
          <ion-card-subtitle>
             
                <!-- type of motor -->
                <ion-chip >
                  <ion-icon name="car"></ion-icon>
                  <ion-label >{{item.type_caburant}}</ion-label>
                </ion-chip>
                <!-- Car price-->
                <ion-chip >
                  <!-- <ion-icon name="medal" ></ion-icon> -->
                  <ion-label  textWrap="true">{{item.per_day}} F CFA / {{ 'DASHBOARD.day' | translate }}</ion-label>
                </ion-chip> <br>
                <!-- Number of Seats-->
                <ion-chip >
                  <ion-icon name="person"></ion-icon>
                  <ion-label >{{item.passager}} {{ 'DASHBOARD.seats' | translate }} </ion-label>
                </ion-chip>
                <!-- car color -->
              <ion-chip>
                <ion-label >{{ 'DASHBOARD.color' | translate }} {{item.couleur}} </ion-label> 
              </ion-chip>

          </ion-card-subtitle>
          <ion-card-title  > {{item.modele.libelle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                        
               <!-- More-->
             <ion-chip style="margin-left:30%" (click)="carDetails(item.id)" >
                <ion-label >{{ 'DASHBOARD.btn_view_details' | translate }} </ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-chip>

      
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



 



</ion-content>
