ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}



ion-item,ion-buttons
{
    --background: black; 
    color:  #ffa60a;
}

ion-button
{
  color: black; 
  --background:  #ffa60a;

}

ion-chip
{
    color: black; 
    --background: white;
    border-color: black;
}

ion-segment-button
{
    color : #ffa60a;
}

ion-card-title
{
    color : white;
}
ion-title
{
    margin-left : -10%;
    text-overflow: unset;
    white-space: unset;
    font-size: 20px;
}