<ion-header>
  <ion-toolbar>

      <ion-item>

        <ion-icon color="light" name="chevron-back" (click)="prev()" ></ion-icon>
        <ion-title style="margin-left:2%">{{"DASHBOARD.trip_details" | translate }}</ion-title>

      </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

    <!-- Trip/voyage Details -->
 


     <ion-card >
    
        <img [src]="filterData.photo[0]?.image" />
        <ion-card-header>
                 <ion-card-title >{{filterData.modele}}</ion-card-title>

          <ion-card-subtitle>
             
                <!-- Reservation Type -->
                <ion-item>
                    <label textWrap="true" style="width: 120px"> {{ "RESERVECAR.booking_type" | translate }} </label>
                   <label textWrap="true" style="margin-left: 15%;color:white;width: 150px"  *ngIf="filterData.type_location == 3"> {{ "RESERVECAR.airport_pick" | translate }}  </label>
                    <label textWrap="true" style="margin-left: 15%;color:white;width: 150px" *ngIf="filterData.type_location == 2"> {{ "RESERVECAR.per_hour" | translate }}  </label>
                    <label textWrap="true" style="margin-left: 15%;color:white;width: 150px" *ngIf="filterData.type_location == 1"> {{ "RESERVECAR.per_day" | translate }}   </label>
                
                    <!-- <ion-chip slot="end"> Per Hour </ion-chip> -->
                </ion-item>
              <!-- Depart -->
                <ion-item  *ngIf="filterData.type_location == 3">
                    <label textWrap="true" style="width: 150px"> {{ "RESERVECAR.departure" | translate }} </label>
                   <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" > {{ filterData.depart }}  </label>
                
                    <!-- <ion-chip slot="end"> Per Hour </ion-chip> -->
                </ion-item>


                <!-- Destination -->
            
               <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_destination" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" > {{filterData.destination}}  </label>

                    <!-- <ion-chip slot="end"> Daoukro </ion-chip> -->
                </ion-item>

              
                <!-- Starting date -->
                <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_start_date" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"  > {{filterData.date_debut}} </label>
                </ion-item>
                
                <!-- Starting time -->
                <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "DASHBOARD.start_time" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{filterData.heure_debut}} </label>

                    <!-- <ion-chip slot="end"> 12 : 10 </ion-chip> -->
                </ion-item>
               

                <!-- Return date -->
                <ion-item  *ngIf="filterData.type_location == 1">
                  <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_end_date" | translate }} </label>
                  <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"  > {{filterData.date_fin}} </label>
              
                </ion-item>
                
                <!-- Return time -->
                <ion-item  *ngIf="filterData.type_location !=3">
                     <label textWrap="true" style="width: 150px" > {{ "DASHBOARD.return_time" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{filterData.heure_fin}} </label>

                </ion-item>
              


                <!-- Client name -->
                <ion-item>
                    <label textWrap="true" style="width: 150px"  > {{ "RESERVECAR.clientname" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" > {{filterData.clientname}} </label>
                    <!-- <ion-chip slot="end"> Oumarou Toto </ion-chip> -->
                </ion-item>

                  <!-- Your marks  -->
                    <ion-item  *ngIf="filterData.etape_location == 5">
                      <label textWrap="true" style="width: 150px"  > {{ "RESERVECAR.your_marks" | translate }} </label>
                    
                      <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="filterData.note_chauffeur == 5" > {{"DASHBOARD.very_good" | translate}} </label>
                      <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="filterData.note_chauffeur == 4" > {{"DASHBOARD.good" | translate}} </label>
                      <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="filterData.note_chauffeur == 3" > {{"DASHBOARD.average" | translate}} </label>
                      <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="filterData.note_chauffeur == 2" > {{"DASHBOARD.bad" | translate}} </label>
                      <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="filterData.note_chauffeur == 1" > {{"DASHBOARD.very_bad" | translate}}</label>
                  </ion-item>

                  <!-- driver Comment  -->
                    <ion-label textWrap="true" style="margin-left: 5%;color:#ffa60a"  > {{ "RESERVECAR.your_comment" | translate }} </ion-label><br>
                <ion-item *ngIf="filterData.etape_location == 5">
                  <label textWrap="true" style="margin-left: 5%;color:white" > {{filterData.rapport_chauffeur}} </label>
                </ion-item>  
                 
                
                

           

          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
                        
        
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



</ion-content>

<ion-footer>
  <!-- <ion-toolbar> -->
          <!-- Start the trip  -->
    <ion-button expand="full" *ngIf="filterData.etape_location == 2" (click)="start()" >{{"DASHBOARD.start_trip" | translate }} </ion-button>
   
  <!-- </ion-toolbar> -->
</ion-footer>