<ion-header>
   <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="register">Change Password</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content >
  <div class="backgroundcss">
    <div id="container">
      <ion-card class="cardcss" >
           <hr/>
        <ion-card-content>
           <ion-input class="inputcomp" type="password"  placeholder="Old Password*"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password"  placeholder="New Password*"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password"  placeholder="Confirm Password*"></ion-input>
          <br>
          <div class="divloginbtn">
            <br>
            <button [ngClass]="{'loginbtn_black':btnClicked == false,
            'loginbtn_yellow':btnClicked == true}" (click)="changePassword()">Change Password</button>
           </div>
           <br>  
          <br>
        </ion-card-content>
      </ion-card>
     </div>

    </div>

</ion-content>

