<ion-header>
   <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="register">{{'Password.change_password' | translate }}</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content >
  <div class="backgroundcss">
    <div id="container">
      <ion-card class="cardcss" >
           <hr/>
        <ion-card-content>
           <ion-input class="inputcomp" type="password" [(ngModel)] = "email" placeholder="{{'SIGNUP.email' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password" [(ngModel)] = "new_password"  placeholder="{{'Password.new_password' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password" [(ngModel)] = "confirm_pass" placeholder="{{'Password.confirm_password' | translate }}"></ion-input>
          <br>
          <div class="divloginbtn">
            <br>
            <button [ngClass]="{'loginbtn_black':btnClicked == false,
            'loginbtn_yellow':btnClicked == true}" (click)="changePassword()">{{'Password.change_password_btn' | translate }}</button>
           </div>
           <br>  
          <br>
        </ion-card-content>
      </ion-card>
     </div>

    </div>

</ion-content>

