<ion-header>
  <ion-toolbar>

      <ion-item>

        <ion-icon color="light" name="chevron-back" (click)="prev()" ></ion-icon>
        <ion-title>{{ 'CARDETAILS.title' | translate }}</ion-title>

      </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="show">


        <!-- slider images -->

        <ion-slides [options]="slideOptions"  #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
             <ion-slide *ngFor="let item of car.photo">
                <img [src]="item.image" />
            </ion-slide>
        </ion-slides>

        <!-- tile or designation of the car -->
          <br>
        <strong class="ion-text-center">
            <ion-label style="margin-left:5%; "> {{car.modele.libelle}} </ion-label> 
         </strong>

            <!-- Description of the car -->

     <ion-card>
     
        <ion-card-header>
          <ion-card-subtitle>

           <ion-grid>  
            <ion-row>
              <ion-col size="4" size-lg >
                <ion-chip >
                  <ion-label >{{"DASHBOARD.day"|translate}}</ion-label>
                </ion-chip>
               <!-- <b> {{"DASHBOARD.day"|translate}}</b> -->
              </ion-col>
              <ion-col size="4" size-lg>
                <ion-chip >
                  <ion-label > {{"DASHBOARD.hour"|translate}}</ion-label>
                </ion-chip>
               <!-- <b> {{"DASHBOARD.hour"|translate}}</b> -->
              </ion-col>
              <ion-col size="4" size-lg>
                <ion-chip >
                  <ion-label > {{"DASHBOARD.airport_pick"|translate}}</ion-label>
                </ion-chip> 
               <!-- <b> {{"DASHBOARD.airport_pick"|translate}}</b> -->
              </ion-col>
            </ion-row>  
            <ion-row>
              <ion-col size="4" size-lg>
                {{car.per_day}}
              </ion-col>
              <ion-col size="4" size-lg>
                {{car.per_hour}}
              </ion-col>
              <ion-col size="4" size-lg>
                {{car.per_hour}}
              </ion-col>
            </ion-row>

            
          </ion-grid>

             <!-- price per day -->
                <!-- <ion-chip >
                  <ion-label > {{car.per_day}} F CFA / {{"DASHBOARD.day"|translate}}</ion-label>
                </ion-chip>  -->
                <!-- price per hour -->
                <!-- <ion-chip >
                  <ion-label > {{car.per_hour}} F CFA / {{"DASHBOARD.hour"|translate}}</ion-label>
                </ion-chip>  -->
                <!-- Price Airport -->
                <!-- <ion-chip >
                  <ion-label > {{car.per_hour}} F CFA / {{"DASHBOARD.airport_pick"|translate}}</ion-label>
                </ion-chip>  -->
                <!-- type of motor -->
                <ion-chip >
                  <ion-icon name="car"></ion-icon>
                  <ion-label > {{car.type_caburant}}</ion-label>
                </ion-chip> 
                <!-- Car Color-->
                <ion-chip >
                  <ion-icon name="medal" ></ion-icon>
                  <ion-label  textWrap="true"> {{ 'DASHBOARD.color' | translate }} {{car.couleur}} </ion-label>
                </ion-chip> <br>
                <!-- Number of Seats-->
                <ion-chip >
                  <ion-icon name="person"></ion-icon>
                  <ion-label >{{car.passager}} {{ 'CARDETAILS.seats' | translate }}</ion-label>
                </ion-chip>

                    <!-- number of baggages -->
              <ion-chip>
                <ion-icon name="briefcase"></ion-icon>
                <ion-label > {{car.bagage}} {{ 'CARDETAILS.baggages' | translate }} </ion-label> 
              </ion-chip> <br>
                    <!-- Car Number-->
              <ion-chip>
                <ion-label > {{ 'CARDETAILS.carnumber' | translate }} {{car.immatriculation}}  </ion-label> 
              </ion-chip>

          </ion-card-subtitle>
          <ion-card-title>Description</ion-card-title>
        </ion-card-header>
        <ion-card-content style="text-align : justify " >
                            
            {{car.description}}
            
        </ion-card-content>
      </ion-card>


    
        <!-- Accessories     -->
    
     <ion-card>
     
        <ion-card-header>
          <ion-card-title>{{ 'CARDETAILS.accessories' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

              <ion-grid>
                 <!-- print each element -->
                <ion-row *ngFor="let item of car.accessoire ;  index as i">
                   <!-- column has the name of the accessory -->
                      <ion-col col-auto class="cell-class">
                            {{ item.libelle }}
                      </ion-col>
                        <!-- column 2 has the status of the accessory -->
                      <ion-col   text-right  class="cell-yes"   >
                           <ion-icon name="checkmark-outline"></ion-icon>
                      </ion-col>
                      <!-- <ion-col  *ngIf="item.status == 'yes' " text-right  class="cell-yes"   >
                           <ion-icon name="checkmark-outline"></ion-icon>

                      </ion-col>
                         column 2 has the status of the accessory -->
                     <!--  <ion-col  *ngIf="item.status == 'no' "   text-right  class="cell-no"  >
                           {{ item.status }}

                      </ion-col> -->
                </ion-row>
              </ion-grid>

        </ion-card-content>
      </ion-card>

      <!-- login to reserve or reserve if logged in  -->
    <!-- <ion-button *ngIf="token==null" expand="round" class="center-button">Login To Reserve</ion-button> -->
       <!-- if the token is not null -->
    <!-- <ion-button *ngIf="token!=null" expand="round" class="center-button" (click)="goToReservation()">Reserve Now</ion-button> -->





</ion-content>

<ion-footer *ngIf="show" >
  <!-- <ion-toolbar> -->
          <!-- login to reserve or reserve if logged in  -->
    <ion-button *ngIf="token==null" expand="full" (click)="goToLogin()" >{{"CARDETAILS.logintoreserve" | translate}}</ion-button>
       <!-- if the token is not null -->
    <ion-button *ngIf="token!=null" expand="full"  (click)="goToReservation( car.id)">{{"CARDETAILS.reservenow" | translate}}</ion-button>


  <!-- </ion-toolbar> -->
</ion-footer>