.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
  }

  .cell-yes{
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    color: green;
    text-align: right;
  }
  .cell-no{
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    color: red;
    text-align: right;
  }
  .center-button{
    margin-left: 25%;
    margin-right: 17%;
    
  
  }

  ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}


ion-item
{
    --background: black; 
    color:  #ffa60a;
}

ion-chip,ion-button
{
    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-segment-button,ion-card-title
{
    color : #ffa60a;
}

ion-card-content
{
    color : white;
}

ion-label
{
  color : black;
}