<ion-header>
  <ion-toolbar>

    <ion-item *ngIf="!isSearchbarOpened">

           <!-- menu icon -->
      <ion-buttons *ngIf="!isSearchbarOpened" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- title -->
      <ion-title *ngIf="!isSearchbarOpened" >{{ 'DASHBOARD.title' | translate }}</ion-title>

   
       <!-- search bar button -->
       <ion-buttons slot="end">
          <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" >
              <ion-icon color="primary" name="search"> </ion-icon>
          </ion-button>
      </ion-buttons>


    </ion-item>

<!-- Search Bar -->
   <ion-searchbar *ngIf="isSearchbarOpened" placeholder="{{ 'DASHBOARD.search_here' | translate }}" [(ngModel)]="term" animated="true" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

     
  </ion-toolbar>
    
</ion-header>

<ion-content >


    
<!-- Default Segment / Search for the car according to the type of reservation -->
 <!--   First main Search  -->



     <ion-card *ngFor="let item of filterData | filter:term">
    
        <img [src]="item.picture" />
        <ion-card-header>
          <ion-card-subtitle>
             
                <!-- type of motor -->
                <ion-chip >
                  <ion-icon name="car"></ion-icon>
                  <ion-label >{{item.motorType}}</ion-label>
                </ion-chip>
                <!-- Car Model-->
                <ion-chip >
                  <ion-icon name="medal" ></ion-icon>
                  <ion-label  textWrap="true">{{item.model}}</ion-label>
                </ion-chip> <br>
                <!-- Number of Seats-->
                <ion-chip >
                  <ion-icon name="person"></ion-icon>
                  <ion-label >{{item.seatNumber}} {{ 'DASHBOARD.seats' | translate }} </ion-label>
                </ion-chip>

              <ion-chip>
                <ion-label > {{item.pricePerDay}} F cfa/{{ 'DASHBOARD.day' | translate }} </ion-label> 
              </ion-chip>

          </ion-card-subtitle>
          <ion-card-title >{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                        
               <!-- More-->
             <ion-chip style="margin-left:30%" (click)="carDetails(item.title )" >
                <ion-label >{{ 'DASHBOARD.btn_view_details' | translate }} </ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-chip>

      
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



 



</ion-content>
