<ion-header>
  <ion-toolbar>

    <ion-item *ngIf="!isSearchbarOpened">

           <!-- menu icon -->
      <ion-buttons *ngIf="!isSearchbarOpened" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- title -->
      <ion-title  *ngIf="!isSearchbarOpened" >{{ 'DASHBOARD.title' | translate }}</ion-title>

      <!-- search bar button -->
      <ion-buttons slot="end">
        <!-- <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" > -->
            <ion-icon color="primary" name="search" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"> </ion-icon>
         <!-- </ion-button> -->
      </ion-buttons>
      <!-- Search Bar -->

    </ion-item>


   <ion-searchbar color="primary"  *ngIf="isSearchbarOpened" placeholder="{{ 'DASHBOARD.search_here' | translate }}" [(ngModel)]="term" animated="true" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

     
  </ion-toolbar>
    
</ion-header>

<ion-content >


    
<!-- Default Segment / Search for the car according to the type of reservation -->
 <!--   First main Search  -->



     <ion-card *ngFor="let item of filterData | filter:term">
    
        <img [src]="item.picture" />
        <ion-card-header>
                 <ion-card-title >{{item.title}}</ion-card-title>

          <ion-card-subtitle>
             
                <!-- Destination -->
            
               <ion-item>
                    <ion-label > Destination : </ion-label>
                    <ion-chip slot="end"> Daoukro </ion-chip>
                </ion-item>

               <!-- Reservation Type -->
                <ion-item>
                    <ion-label > Booking Type : </ion-label>
                    <ion-chip slot="end"> Per Hour </ion-chip>
                </ion-item>
                <!-- Starting date -->
                <ion-item>
                    <ion-label > Start Date : </ion-label>
                    <ion-chip slot="end"> 12 Aug 2020 </ion-chip>
                </ion-item>
                
                <!-- Starting time -->
                <ion-item>
                    <ion-label > Start Time : </ion-label>
                    <ion-chip slot="end"> 12 : 10 </ion-chip>
                </ion-item>
               

                <!-- Client name -->
                <ion-item>
                    <ion-label > Client Name: </ion-label>
                    <ion-chip slot="end"> Oumarou Toto </ion-chip>
                </ion-item>

               

          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
                        
               <!-- button view more and start the trip-->
             <ion-button  *ngIf="item.status == 0 " style="margin-left:3%" (click)="tripDetails(item.title )" >
                <ion-label>View more and start the trip</ion-label>
               
            </ion-button>
               <!-- button end the trip -->
             <ion-button  *ngIf="item.status == 1 " style="margin-left:30%"  >
                <ion-label *ngIf="item.status == 1 "> End the trip</ion-label>
            </ion-button>
               <!-- button View details-->
             <ion-button  *ngIf="item.status == 2 " style="margin-left:30%"  >
                <ion-label *ngIf="item.status == 2 ">View details</ion-label>
            </ion-button>

      
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



 



</ion-content>
