<ion-header>
    <ion-toolbar>

        <ion-item >

           <!-- menu icon -->
          <ion-buttons  slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <!-- title -->
          <ion-title >{{ 'DASHBOARD.profile' | translate }}</ion-title>
        </ion-item>
 
  </ion-toolbar>
</ion-header>

<ion-content>
 

          <!-- profile Image -->
         

     <ion-card>

        
        <ion-card-header>
          <ion-card-subtitle>
             
            <div >
              <ion-grid>
                <ion-row>
                  <ion-col size="4" >
                    <img   [src]="profile"  class="image-icon" >
                  </ion-col>
                   <ion-col size="8">
                    <div>                
                       <br>
                       <!-- name      -->
                        <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.firstname}}  {{profileData.lastname}} </b></ion-label>
                        <br><br>
                        <!-- address -->
                        <ion-label style="size: 20vw;">&nbsp; <b>{{profileData.address}}  </b></ion-label>
                        <!-- city -->
                        <br>
                        <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.city}} , {{profileData.country}} </b></ion-label>

                    </div>                    
                  </ion-col>
                  </ion-row>
                  </ion-grid>  
                             
              </div>

          </ion-card-subtitle>
          <!-- <ion-card-title  >  My informations :</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
                  <!-- name      -->
                <ion-label style="size: 20vw;">&nbsp; <b>{{"PROFILE.first_name"| translate}} : </b></ion-label>
                <br>   
                <ion-input  type="text" [(ngModel)]="profileData.firstname"  placeholder="First name" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.last_name"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text"  [(ngModel)]="profileData.lastname"  placeholder="Last name" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.email_address"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.email"  placeholder="Email Address" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.mobile"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="number" [(ngModel)]="profileData.mobilenumber" placeholder="Mobile number" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.dob"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="date"  [(ngModel)]="profileData.dob" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.address"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.address"  placeholder="Address" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.city"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.city"  placeholder="City" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.country"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.country"  placeholder="Country" [disabled]="editableText"></ion-input>
                 <br>
                <div class="divloginbtn">

                  <button [ngClass]="{'loginbtn_black':btnClicked == true,
                   'loginbtn_yellow':btnClicked == false}" (click)="editProfile()" *ngIf="editableText==true && userType=='client'"> {{"PROFILE.edit_profile"| translate}}</button>
                 <button [ngClass]="{'loginbtn_black':btnClicked == true,
                   'loginbtn_yellow':btnClicked == false}" (click)="saveProfile()" *ngIf="editableText==false && userType=='client'"> {{ 'DASHBOARD.save' | translate }}</button>
                 
                  </div>
              
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->




</ion-content>
