<ion-header>
    <ion-toolbar>

        <ion-item *ngIf="(editableText==true && userType=='client') ||userType=='chauffeur' ">

           <!-- menu icon -->
          <ion-buttons  slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <!-- title -->
          <ion-title >{{ 'DASHBOARD.profile' | translate }}</ion-title>
        </ion-item>

       <!-- ------------------------------------------------------------------------------ -->
        <!-- ----------------------If edit has been clicked --------------------------------------------- -->
        <ion-item *ngIf="editableText==false && userType=='client'" >

           <!-- prev icon -->
           <ion-icon color="light" name="chevron-back" (click)="prev()" ></ion-icon>

          <!-- title -->
          <ion-title >{{ 'DASHBOARD.edit_profile_title' | translate }}</ion-title>
        </ion-item>
 
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show" >
 
          <!-- profile Image -->
         
     <ion-card>

        
        <ion-card-header>
          <ion-card-subtitle>
             
            <div >
              <ion-grid *ngIf="editableText==true">
                <ion-row>
                  <ion-col size="5" >
                    <img   [src]="profile"  class="image-icon" >
                  </ion-col>
                   <ion-col size="7">
                    <div>                
                       <br><br> <br>
                       <!-- Full name      -->
                       <strong> <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.first_name}}  {{profileData.last_name}} </b>
                       </ion-label> </strong>
                        <br><br>
                       

                    </div>                    
                  </ion-col>
                  </ion-row> 
                      
                       <!-- DOB      -->
                       <ion-item>
                         <ion-icon name="calendar-outline"></ion-icon>
                         <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.birth_date}}  </b></ion-label>
                       </ion-item> 
                       <!-- Email id     -->
                       <ion-item>
                          <ion-icon name="at-outline"></ion-icon>
                          <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.email}}  </b></ion-label>
                        </ion-item> 
                       <!-- phone number    -->
                        <ion-item>
                          <ion-icon name="call-outline"></ion-icon>
                        <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.telephone}}  </b></ion-label>
                        </ion-item> 
                        <!-- address -->
                        <ion-item>
                          <ion-icon name="pin-outline"></ion-icon>
                        <ion-label style="size: 20vw;">&nbsp; <b> {{profileData.address}}  </b></ion-label>
                        </ion-item> 
                  </ion-grid>  
                             
              </div>

          </ion-card-subtitle>
          <!-- <ion-card-title  >  My informations :</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
                
            <div *ngIf="editableText==false && userType=='client'">
                  <!-- name      -->
                <ion-label style="size: 20vw;" >&nbsp; <b>{{"PROFILE.first_name"| translate}} : </b></ion-label>
                <br>   
                <ion-input  type="text" [(ngModel)]="profileData.first_name"  placeholder="First name" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.last_name"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text"  [(ngModel)]="profileData.last_name"  placeholder="Last name" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.email_address"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.email"  placeholder="Email Address" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.mobile"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="number" [(ngModel)]="profileData.telephone" placeholder="Mobile number" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.dob"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="date"  [(ngModel)]="profileData.birth_date" [disabled]="editableText"></ion-input>
                <br>
                <ion-label style="size: 20vw;">&nbsp; <b> {{"PROFILE.address"| translate}} : </b></ion-label>
                <br>
                <ion-input  type="text" [(ngModel)]="profileData.address"  placeholder="Address" [disabled]="editableText"></ion-input>
                <br>
               

            </div>     
                <div class="divloginbtn">

                  <!-- <button [ngClass]="{'loginbtn_black':btnClicked == true,
                   'loginbtn_yellow':btnClicked == false}" (click)="editProfile()" *ngIf="editableText==true && userType=='client'"> {{"PROFILE.edit_profile"| translate}}</button>
                 <button [ngClass]="{'loginbtn_black':btnClicked == true,
                   'loginbtn_yellow':btnClicked == false}" (click)="saveProfile()" *ngIf="editableText==false && userType=='client'"> {{ 'DASHBOARD.save_profile' | translate }}</button>
                  -->
                  </div>
              
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->
</ion-content>
<ion-footer *ngIf="show" >
  <!-- <ion-toolbar> -->
       <!-- if the token is not null -->
    <!-- <ion-button  expand="full"  [ngClass]="{'loginbtn_black':btnClicked == true,
    'loginbtn_yellow':btnClicked == false}" (click)="save()">{{ 'DASHBOARD.post_testimonial' | translate }}</ion-button> -->
    <button expand="full" [ngClass]="{'loginbtn_black':btnClicked == true,
    'loginbtn_yellow':btnClicked == false}" (click)="editProfile()" *ngIf="editableText==true && userType=='client'"> {{"PROFILE.edit_profile"| translate}}</button>
  <button [ngClass]="{'loginbtn_black':btnClicked == true,
    'loginbtn_yellow':btnClicked == false}" (click)="saveProfile()" *ngIf="editableText==false && userType=='client'"> {{ 'DASHBOARD.save_profile' | translate }}</button>
  

  <!-- </ion-toolbar> -->
</ion-footer>