<!-- <ion-header class="header_signup">
   <ion-toolbar>
     <div class="header_signup">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar> 
</ion-header> -->

<ion-content >
  <div class="backgroundcss">
    <div id="container">
      <ion-card class="cardcss" >
          <h3 class="loginLabel">{{'SIGNUP.signup' | translate }}</h3>
           <!-- <hr/> -->
        <ion-card-content>
          <ion-input class="inputcomp" type="text" [(ngModel)]="firstname"  placeholder="{{'SIGNUP.first_name' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="text"  [(ngModel)]="lastname"  placeholder="{{'SIGNUP.last_name' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="email" [(ngModel)]="email"  placeholder="{{'SIGNUP.email' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password" [(ngModel)]="password"  placeholder="{{'SIGNUP.password' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="password"  [(ngModel)]="confirmpassword" placeholder="{{'SIGNUP.confirm_password' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="number" [(ngModel)]="mobilenumber" placeholder="{{'SIGNUP.mobile_num' | translate }}"></ion-input>
          <br>
          <ion-input class="inputcomp" type="text" [(ngModel)]="address"  placeholder="{{'SIGNUP.address' | translate }}"></ion-input>
          <br>
          <!-- <ion-input class="inputcomp" type="date"  [(ngModel)]="birth_date"></ion-input> -->
          <ion-datetime *ngIf="lang=='en'" class="inputcomp" [max]="today" placeholder="{{'SIGNUP.dob' | translate }}" [(ngModel)]="birth_date" ></ion-datetime>
              <!-- french -->
          <ion-datetime *ngIf="lang=='fr'" class="inputcomp" [(ngModel)]="birth_date"
                   placeholder="{{'SIGNUP.dob' | translate }}" [max]="today"
                   monthShortNames="Jan, Fev, Mars, Avr, Mai, Juin, Juil, Août, Sep, Oct, Nov, Dec"
                   cancelText="Annuler"
                  doneText="Valider">
                 </ion-datetime>
          <br>
          
          <input type="checkbox" [(ngModel)]="agreement">&nbsp;&nbsp;<ion-router-link href="/term-usage" class="register"><b>{{'SIGNUP.term_condition' | translate }}</b></ion-router-link>
          
          <div class="divloginbtn">
            <br>
            <button [ngClass]="{'loginbtn_black':btnClicked == false,
            'loginbtn_yellow':btnClicked == true}" (click)="signupFun()">{{'SIGNUP.signup_btn' | translate }}</button>
           </div>
           <br>  
           <div class="labelText">
             <span>{{'SIGNUP.already_account' | translate }} </span>
             <span class="register" clear  (click)="loginbtnCliced()" tappable>{{"LOGIN.login"| translate}}</span>
            
             <br>
             <!-- <hr/> -->
             <span class="register" clear  (click)="backToHome()" tappable><u>{{"LOGIN.back_to_home"| translate}}</u></span>
             <br>
            </div> 
          <br>
        </ion-card-content>
      </ion-card>
     </div>

    </div>

</ion-content>
