

.loginbtn_black
{
    background-color: black;
    border: medium none;
    color: #d39e1a;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    margin: auto;
    padding: 3vw 33vw;;
    transition: all 0.3s linear 0s;
    border-radius: 30px;
    box-shadow: 0 2px 0 #d39e1a, 0 3px 0px #e4e4e4;
  }
  
  .loginbtn_yellow
{
    background-color: #d39e1a;
    border: medium none;
    color: black;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    margin: auto;
    padding: 3vw 33vw;;
    transition: all 0.3s linear 0s;
    border-radius: 30px;
    box-shadow: 0 2px 0 #d39e1a, 0 3px 0px #e4e4e4;
  }

.loginLabel
  {
    font-family:'Roboto',sans-serif;
    color: black;
    font-weight: 900;
    text-align: center;
  }

  .inputcomp{
    border-radius: 30px;
    color: black;
    background-color: #EEEEEE;
    padding-left: 20px;

    // margin: 5vw 35vw;
  }

  .cardcss{
    border-radius: 45px;
    margin-top: 20vw;
    margin-bottom: 20vw;
  }



  .divloginbtn{
    text-align: center;
  }

  .register{
    color:#d39e1a;
    // text-decoration:underline;
    font-weight:bold;
    padding-bottom: 3vw!important;    
  }

  div.labelText{       
    text-align: center;    
}

.backgroundcss{
 // background-image: url("../../assets/imgs/bg.jpg");
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  // margin: 0vw;
  position: relative;
  // opacity: 0.5;
}

ion-toolbar,ion-segment,ion-content
{
    --background: black; 
}
ion-buttons
{
    color:  #ffa60a;
}
