<ion-header>
  <ion-toolbar>
   <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'DASHBOARD.usage_term' | translate }} </ion-title>
    </ion-item> 
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show" >

     <!-- -------------------------------------------------------------------------------------- -->
        <!-- Start contact -->
       <ion-card *ngFor="let term of myterms; " >
          
            <ion-card-content>
                          
               
                    {{term.text}}
          
            </ion-card-content>
      </ion-card>
        <!-- Stop Contact -->
    <!-- -------------------------------------------------------------------------------------- -->


</ion-content>
