<ion-header>
  <ion-toolbar>

      <ion-item >

         <!-- menu icon -->
        <ion-buttons  slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <!-- title -->
        <ion-title size="small" >{{ 'DASHBOARD.send_feedback' | translate }}</ion-title>
        <!-- <ion-title >POST TESTIMONIAL</ion-title> -->
      </ion-item>

</ion-toolbar>
</ion-header>

<ion-content>


        <!-- profile Image -->
       

   <ion-card>

      
      <ion-card-header>
        <ion-card-subtitle>
           
         
        </ion-card-subtitle>
        <!-- <ion-card-title class="divloginbtn" > {{ 'DASHBOARD.post_a_testimonial' | translate }}</ion-card-title> -->
        <!-- <ion-card-title  > POST A TESTIMONIAL :</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
                <!-- name      -->
              <ion-label style="font-size: 5vw;">&nbsp; <b> {{ 'DASHBOARD.testimonial' | translate }} : </b></ion-label>
              <!-- <ion-label style="size: 20vw;">&nbsp; <b> Testimonial : </b></ion-label> -->
              <br>   
              <!-- <ion-input  type="text" [(ngModel)]="feedback"  placeholder="First name"></ion-input> -->
              <ion-textarea style="border:solid 1px gray; border-radius: 5vw;" rows="6" cols="50" [(ngModel)]="feedback" placeholder="Enter any text here..."></ion-textarea>
              <br>
           
            
      </ion-card-content>
    </ion-card>

  <!-- </ion-item> -->




</ion-content>
<ion-footer>
  <!-- <ion-toolbar> -->
       <!-- if the token is not null -->
    <ion-button  expand="full"  [ngClass]="{'loginbtn_black':btnClicked == true,
    'loginbtn_yellow':btnClicked == false}" (click)="save()">{{ 'DASHBOARD.post_testimonial' | translate }}</ion-button>


  <!-- </ion-toolbar> -->
</ion-footer>
