<!-- <ion-header>

   <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar> 
</ion-header> -->

<ion-content scroll padding >
  <div class="backgroundcss">
    
  
  <div id="container">
   <ion-card class="cardcss" >
     <br>
      <h3 class="loginLabel">{{"LOGIN.login"| translate}}</h3>
        <hr/>

     <ion-card-content>
       <!-- <ion-item> -->
         <!-- <ion-label position="floating">Enter Username</ion-label> -->
         <ion-input class="inputcomp" type="text" [(ngModel)]="usernameText" placeholder='{{"LOGIN.email_address"| translate}}'></ion-input>
       <!-- </ion-item> -->
       <br>
       <!-- <ion-item> -->
         <!-- <ion-label position="floating">Enter Password</ion-label> -->
         <ion-input class="inputcomp" type="password" [(ngModel)]="passwordText" placeholder='{{"LOGIN.password"| translate}}'></ion-input>
       <!-- </ion-item> -->
       <br>
       <div class="divloginbtn">
         <button [ngClass]="{'loginbtn_black':btnClicked == false,
         'loginbtn_yellow':btnClicked == true}" (click)="loginFun()">{{"LOGIN.btn_login"| translate}}</button>
        </div>
        <br>  
        <br>
        <div class="labelText">
          <span>{{"LOGIN.no_account"| translate}} </span>
          <span class="register" clear  (click)="RegisterBtnClicked()" tappable>{{"LOGIN.signup"| translate}}</span>
          <br>
          <span class="register" clear  (click)="forgetPasswordBtnClicked()" tappable>{{"LOGIN.forgot_password"| translate}}</span>
       </div> 
          <br><br>
          <span class="register" clear  (click)="backToHome()" tappable><u>Back To Home</u></span>
          <br>
        </div> 
       <br>
     </ion-card-content>
   </ion-card>
  </div>
</div>
</ion-content>