<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>

              <!-- menu == null -->
            <div *ngIf="testingToken==null">
              <div >
                <ion-grid>
                  <ion-row>
                    <ion-col size="4" >
                      <img  tappable  menuClose  [src]="profile"  class="image-icon" (click)="login_signupPage()">
                    </ion-col>
                     <ion-col size="8">
                      <div>
                        <ion-icon name="warning-outline" style="color: red;"></ion-icon>
                          <ion-label>{{'MENU.message' | translate}}</ion-label>
                          <ion-button fill="outline" slot="end" (click)="login_signupPage()" >{{'MENU.btn_login' | translate}}</ion-button>
               
                        <!-- <ion-button>
                          Login / Signup
                        </ion-button> -->
                      </div>                    
                    </ion-col>
                    </ion-row>
                    </ion-grid>               
               </div>
              </div>
         
             <!-- menu != null -->
         
          <div *ngIf="testingToken!=null">
            <div >
              <ion-grid>
                <ion-row>
                  <ion-col size="4" >
                    <img  tappable  menuClose  [src]="profile"  class="image-icon" (click)="openUserProfile(defaultProfile)">
                  </ion-col>
                   <ion-col size="8">
                    <div>                     
                        <ion-label style="size: 20vw;">&nbsp; <b>{{userInf.first_name}} {{userInf.last_name}} </b></ion-label><br>
                        <ion-button fill="outline" slot="end" (click)="logout()" >{{'MENU.btn_logout' | translate}}</ion-button>
                      
                    </div>                    
                  </ion-col>
                  </ion-row>
                  </ion-grid>  
                             
              </div>
            </div>
         
               
         
          </ion-toolbar>
        </ion-header>
        <ion-content>

           <!-- Menu if user is not logged in yet -->

          <div *ngIf="testingToken==null ">
          
          <div  style=" background: black " *ngFor="let pages of menuNavigatorWithoutLogin">
              
              <ion-menu-toggle   auto-hide="true" *ngIf="pages.url" >
                <ion-item [routerLink]="pages.url" routerDirection="root" routerLinkActive="active">
                    <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                     <ion-label> {{pages.title}} </ion-label> 
                </ion-item>
              </ion-menu-toggle>

                    <!-- if there is sub-cat -->
              <ion-item button *ngIf="pages.children?.length > 0" (click) = "pages.open = !pages.open"
                [class.active-parent]="pages.open" details="false">
                
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                <ion-icon slot="end" name="arrow-forward" *ngIf="!pages.open"></ion-icon>
                <ion-icon slot="end" name="arrow-down" *ngIf="pages.open"></ion-icon>
                <ion-label> {{pages.title}} </ion-label>

              </ion-item>

              <div  *ngIf="pages.open">

                    <ion-menu-toggle  >
                      <ion-item class="sub-item" *ngFor="let sub of pages.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                          <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                            {{sub.title}} 
                      </ion-item>
                    </ion-menu-toggle>

              </div>

          </div>


                   <!-- Menu if user is logged in -->

        </div>
  
          <div *ngIf="testingToken!=null">
            
             
          <div *ngFor="let pages of menuNavigatorLogin">
          <ion-menu-toggle auto-hide="true" *ngIf="pages.url" >
            <ion-item [routerLink]="pages.url" routerDirection="root" routerLinkActive="active">
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                   {{pages.title}} 
            </ion-item>
          </ion-menu-toggle>

                <!-- if there is sub-cat -->
          <ion-item button *ngIf="pages.children?.length > 0" (click) = "pages.open = !pages.open"
            [class.active-parent]="pages.open" details="false">
            
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-icon slot="end" name="arrow-forward" *ngIf="!pages.open"></ion-icon>
            <ion-icon slot="end" name="arrow-down" *ngIf="pages.open"></ion-icon>
            <ion-label> {{pages.title}} </ion-label>

          </ion-item>

          <div  *ngIf="pages.open">

                <ion-menu-toggle  >
                  <ion-item class="sub-item" *ngFor="let sub of pages.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                      <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        {{sub.title}} 
                  </ion-item>
                </ion-menu-toggle>

          </div>

          </div>
        </div>
        </ion-content>

        <ion-footer >
            <ion-toolbar>
             <ion-button  expand="full" >NYOKAH VERSION 1.0 </ion-button>
            </ion-toolbar> 
        </ion-footer>

      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>

 
</ion-app>