<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>NYOKAH </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div *ngIf="testingToken==null">
          
              <div >
                <ion-grid>
                  <ion-row>
                    <ion-col size="4" >
                      <img  tappable  menuClose  [src]="profile"  class="image-icon" (click)="openUserProfile(profile)">
                    </ion-col>
                     <ion-col size="8">
                      <div>
                        <ion-icon name="warning-outline" style="color: red;"></ion-icon>
                          <ion-label>You're not logged in yet</ion-label>
                          <ion-button fill="outline" slot="end" (click)="login_signupPage()" >Login / Signup</ion-button>
               
                        <!-- <ion-button>
                          Login / Signup
                        </ion-button> -->
                      </div>                    
                    </ion-col>
                    </ion-row>
                    </ion-grid>               
              </div>
          <ion-list *ngFor="let pages of menuNavigatorWithoutLogin">
          <ion-menu-toggle auto-hide="true" *ngIf="pages.url" >
            <ion-item [routerLink]="pages.url" routerDirection="root" routerLinkActive="active">
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                   {{pages.title}} 
            </ion-item>
          </ion-menu-toggle>

                <!-- if there is sub-cat -->
          <ion-item button *ngIf="pages.children?.length > 0" (click) = "pages.open = !pages.open"
            [class.active-parent]="pages.open" details="false">
            
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-icon slot="end" name="arrow-forward" *ngIf="!pages.open"></ion-icon>
            <ion-icon slot="end" name="arrow-down" *ngIf="pages.open"></ion-icon>
            <ion-label> {{pages.title}} </ion-label>

          </ion-item>

          <ion-list  *ngIf="pages.open">

                <ion-menu-toggle  >
                  <ion-item class="sub-item" *ngFor="let sub of pages.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                      <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        {{sub.title}} 
                  </ion-item>
                </ion-menu-toggle>

          </ion-list>

          </ion-list>
        </div>
  
          <div *ngIf="testingToken!=null">
            <div >
              <ion-grid>
                <ion-row>
                  <ion-col size="4" >
                    <img  tappable  menuClose  [src]="defaultProfile"  class="image-icon" (click)="openUserProfile(defaultProfile)">
                  </ion-col>
                   <ion-col size="8">
                    <div>
                     
                        <ion-label style="size: 20vw;">&nbsp;Hello! <b>Chanda</b></ion-label>
                        <ion-button fill="outline" slot="end" (click)="openUserProfilePage()" >View Profile</ion-button>
                      
                    </div>                    
                  </ion-col>
                  </ion-row>
                  </ion-grid>  
                             
            </div>
             
          <ion-list *ngFor="let pages of menuNavigatorLogin">
          <ion-menu-toggle auto-hide="true" *ngIf="pages.url" >
            <ion-item [routerLink]="pages.url" routerDirection="root" routerLinkActive="active">
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                   {{pages.title}} 
            </ion-item>
          </ion-menu-toggle>

                <!-- if there is sub-cat -->
          <ion-item button *ngIf="pages.children?.length > 0" (click) = "pages.open = !pages.open"
            [class.active-parent]="pages.open" details="false">
            
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-icon slot="end" name="arrow-forward" *ngIf="!pages.open"></ion-icon>
            <ion-icon slot="end" name="arrow-down" *ngIf="pages.open"></ion-icon>
            <ion-label> {{pages.title}} </ion-label>

          </ion-item>

          <ion-list  *ngIf="pages.open">

                <ion-menu-toggle  >
                  <ion-item class="sub-item" *ngFor="let sub of pages.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                      <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        {{sub.title}} 
                  </ion-item>
                </ion-menu-toggle>

          </ion-list>

          </ion-list>
        </div>
        </ion-content>

        <ion-footer >
            <ion-toolbar>
             <ion-button  size=full>SIGN UP HERE !! </ion-button>
            </ion-toolbar> 
        </ion-footer>

      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>

 
</ion-app>