.active{
  
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(--ion--color--primary); 
    }
  
  }
.active-parent{
  
    font-weight: 500;
  
  }
  
  .sub-item{
      padding-left: 20px;
      font-size: small ;
  }

  .image-icon {

    height: 80px;
    width: 80px;
    border-radius: 40px;
  }

  .btn {
    background: white;
    // color: color($colors, bluegreen);
    color: black;
    font-size: smaller;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
    display: inline-block;
  }

  .profileImage{
    height:0vw;
    width: 0vw;
    margin: 0vw;
    padding: 0vw;

  }

  .labelText{
    padding-left: 80vm;
    
  }