ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}
ion-item
{
    --background: black; 
    color:  #ffa60a;
}

ion-title
{
    margin-left : -10%;
    text-overflow: unset;
    white-space: unset;
    font-size: 20px;
}

  