ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}



ion-item
{
    --background: black; 
    color:  #ffa60a;
}

ion-chip,ion-button
{
    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-segment-button
{
    color : #ffa60a;
}

ion-card-title
{
    color : white;
}
