ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}



ion-item, ion-fab-button
{
    --background: black; 
    color:  #ffa60a;
}

ion-chip,ion-button
{
    color: black; 
    --background: #ffa60a;
    border-color: black;
}

ion-icon
{
    color : black;
}

ion-label
{
    color : white;
}
img
{
  width: 100vw;  
  height: 60vh;
}