<ion-header>
  <ion-toolbar>
    <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> {{ 'DASHBOARD.about_us' | translate }}</ion-title>
    </ion-item>    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

    <!-- ///////////////////////////////////////////////////////////////////////////////// -->
            <!-- about us text -->
       <ion-card >
          
            <ion-card-content>
                <ion-label [innerHTML]="about_us">          
                  <!-- {{about_us}} -->
                </ion-label> 
            </ion-card-content>
      </ion-card>
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->





         <!-- Start our team -->
              <!-- english -->
        <ion-list-header *ngIf="lang=='en'" style=" margin-left:28%"> 
              <ion-chip > Our Team   <br>
                <ion-icon   name="caret-down-sharp"></ion-icon>
              </ion-chip >
            
        </ion-list-header>
                <!-- french -->
        <ion-list-header *ngIf="lang=='fr' " style=" margin-left:25%"> 
              <ion-chip > Notre Equipe   <br>
                <ion-icon   name="caret-down-sharp"></ion-icon>
              </ion-chip >

        </ion-list-header>

              <!-- Team list -->
        <ion-card *ngFor="let team of myteam; " >
        
            <div  > 
              
              <img  [src]= "team.photo" />
              
            </div>
          
            <ion-card-content>
                            
                
                <!-- Full Name -->
                <ion-item>
                  <strong>
                      <ion-label> {{team.nom}} {{team.prenom}}</ion-label>
                  </strong>
                </ion-item>
                <!-- Position -->
                <ion-item>
                    <ion-label > {{team.poste}} </ion-label>
                </ion-item>
                
                <!-- Email -->
                <ion-item>
                    <ion-label >{{team.email}} </ion-label>
                </ion-item>
               

          
            </ion-card-content>
      </ion-card>



              <!-- End :  our Team -->
      

</ion-content>
