<ion-header>
  <ion-toolbar>
    <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="small"> {{ 'DASHBOARD.about_us' | translate }}</ion-title>
    </ion-item>    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

    <!-- ///////////////////////////////////////////////////////////////////////////////// -->
            <!-- about us text -->
       <ion-card >
          
            <ion-card-content>
                <ion-label>          
                  {{about_us}}
                </ion-label> 
            </ion-card-content>
      </ion-card>
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->





         <!-- Start our team -->

        <ion-list-header  style=" margin-left:30%"> 
              <ion-chip > Our Team   <br>
                <ion-icon   name="caret-down-sharp"></ion-icon>
              </ion-chip >

        </ion-list-header>


        <ion-card *ngFor="let team of myteam; " >
        
            <div  > 
              
              <img  [src]= "team.photo" />
              
            </div>
          
            <ion-card-content>
                            
                
                <!-- Full Name -->
                <ion-item>
                  <strong>
                      <ion-label> {{team.nom}} {{team.prenom}}</ion-label>
                  </strong>
                </ion-item>
                <!-- Position -->
                <ion-item>
                    <ion-label > {{team.poste}} </ion-label>
                </ion-item>
                
                <!-- Email -->
                <ion-item>
                    <ion-label >{{team.email}} </ion-label>
                </ion-item>
               

          
            </ion-card-content>
      </ion-card>



              <!-- End :  our Team -->
      

</ion-content>
