<ion-header>
  <ion-toolbar>
    <ion-item>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-item>    
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- ///////////////////////////////////////////////////////////////////////////////// -->
            <!-- about us text -->
       <ion-card >
          
            <ion-card-content>
                <ion-label>          
                  {{about_us}}
                </ion-label> 
            </ion-card-content>
      </ion-card>
<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->





         <!-- Start our team -->

        <ion-list-header  style=" margin-left:30%"> 
              <ion-chip *ngIf="!isSearchbarOpened" > Our Team   <br>
                <ion-icon   name="caret-down-sharp"></ion-icon>
              </ion-chip >

        </ion-list-header>


        <ion-card *ngFor="let team of myteam; " >
        
            <div  > 
              
              <img  [src]="team.photo" />
              
            </div>
          
            <ion-card-content>
                            
                
                <!-- First Name -->
            
               <ion-item>
                    <ion-label > First Name : </ion-label>
                    <ion-chip slot="end"> {{team.nom}} </ion-chip>
                </ion-item>

               <!-- Second Name -->
                <ion-item>
                    <ion-label > Second Name : </ion-label>
                    <ion-chip slot="end"> {{team.prenom}}</ion-chip>
                </ion-item>
                <!-- Position -->
                <ion-item>
                    <ion-label > Position : </ion-label>
                    <ion-chip slot="end"> {{team.poste}} </ion-chip>
                </ion-item>
                
                <!-- Email -->
                <ion-item>
                    <ion-label > Email : </ion-label>
                    <ion-chip slot="end"> {{team.email}} </ion-chip>
                </ion-item>
               

          
            </ion-card-content>
      </ion-card>



              <!-- End :  our Team -->
      

</ion-content>
