<ion-header>
  <ion-toolbar>

    <ion-item *ngIf="!isSearchbarOpened">

           <!-- menu icon -->
      <ion-buttons *ngIf="!isSearchbarOpened" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- title -->
      <ion-title *ngIf="!isSearchbarOpened" >{{ 'DASHBOARD.title' | translate }}</ion-title>

   
       <!-- search bar button -->
       <ion-buttons slot="end">
          <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" >
              <ion-icon color="primary" name="search"> </ion-icon>
          </ion-button>
      </ion-buttons>


    </ion-item>

<!-- Search Bar -->
   <ion-searchbar *ngIf="isSearchbarOpened" placeholder="{{ 'DASHBOARD.search_here' | translate }}" [(ngModel)]="term" animated="true" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

     
  </ion-toolbar>
    
</ion-header>

<ion-content >


    
<!-- Default Segment / Search for the car according to the type of reservation -->
 <!--   First main Search  -->

  <ion-card  *ngIf="!isSearchbarOpened">
        <ion-card-header>

         <ion-card-title style="margin-buttom:10%; margin-left:30%"> RESERVATION </ion-card-title>
              <!-- Label only -->
          <ion-segment [(ngModel)]="rent_type">
            <ion-segment-button  value="hour">
              <ion-label>{{ 'DASHBOARD.per_hour' | translate }} </ion-label>
            </ion-segment-button>
            <ion-segment-button value="day">
              <ion-label>{{ 'DASHBOARD.per_day' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="airport">
              <label  textWrap="true" style="font-size:0.9em">{{ 'DASHBOARD.airport_pick' | translate }}</label>
            </ion-segment-button>
          </ion-segment>

        </ion-card-header>

        <ion-card-content>
             
              <!-- Search Bar -->
               <ion-searchbar placeholder="Destination (*) "[(ngModel)]="searchQuery" (click)="click_bar()" (ionCancel)="onCancel($event)" (ionClear)	="onCancel($event)" (ngModelChange)="change_query($event)" showCancelButton="focus"></ion-searchbar>
                
                <ion-list *ngIf="show_list">
                   <ion-item *ngFor="let item of list_to_show; let i = index">
                       <ion-label (click)="click_item(i)" > {{item}} </ion-label>
                   </ion-item>
                </ion-list>


                <ion-item  >
                  <ion-label> {{ 'DASHBOARD.start_date' | translate }}</ion-label>
                  <ion-datetime [value]="today" [min]="today" [max]="maxdate" placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item >
                  <ion-label> {{ 'DASHBOARD.start_time' | translate }}</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>

                <ion-item  *ngIf="rent_type =='day' ">
                   <ion-label> {{ 'DASHBOARD.return_date' | translate }}</ion-label>
                   <ion-datetime [value]="today"   [min]="today"  [max]="maxdate"   placeholder="Select Date"></ion-datetime>
                </ion-item>
                <ion-item  *ngIf="rent_type =='hour' || rent_type =='day' ">
                   <ion-label> {{ 'DASHBOARD.return_time' | translate }}</ion-label>
                  <ion-datetime display-format="HH:mm	" picker-format="HH:mm	" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>
                <!-- departure -->
                <ion-item  *ngIf="rent_type =='airport' ">
                  <ion-input  placeholder="{{ 'DASHBOARD.departure_venue' | translate }}" ></ion-input>
                </ion-item>

                <!-- button search -->

                <ion-button expand="block"> 
                      <ion-icon slot="start" name="search"></ion-icon>
                      {{ 'DASHBOARD.btn_search' | translate }}
                 </ion-button>

        </ion-card-content>
      
  </ion-card>

     <ion-list-header  style=" margin-left:23%"> 
          <ion-chip > {{ 'DASHBOARD.our_vehicles' | translate }}  <br>
             <ion-icon   name="caret-down-sharp"></ion-icon>
           </ion-chip >
          
     </ion-list-header>

     <ion-card *ngFor="let item of filterData | filter:term">
    
        <img [src]="item.picture" />
        <ion-card-header>
          <ion-card-subtitle>
             
                <!-- type of motor -->
                <ion-chip >
                  <ion-icon name="car"></ion-icon>
                  <ion-label >{{item.motorType}}</ion-label>
                </ion-chip>
                <!-- Car Model-->
                <ion-chip >
                  <ion-icon name="medal" ></ion-icon>
                  <ion-label  textWrap="true">{{item.model}}</ion-label>
                </ion-chip> <br>
                <!-- Number of Seats-->
                <ion-chip >
                  <ion-icon name="person"></ion-icon>
                  <ion-label >{{item.seatNumber}} {{ 'DASHBOARD.seats' | translate }} </ion-label>
                </ion-chip>

              <ion-chip>
                <ion-label > {{item.pricePerDay}} F cfa/{{ 'DASHBOARD.day' | translate }} </ion-label> 
              </ion-chip>

          </ion-card-subtitle>
          <ion-card-title >{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                        
               <!-- More-->
             <ion-chip style="margin-left:30%" (click)="carDetails(item.title )" >
                <ion-label >{{ 'DASHBOARD.btn_view_details' | translate }} </ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-chip>

      
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



 



</ion-content>
