<ion-header>
  <ion-toolbar>

    <ion-item *ngIf="!isSearchbarOpened">

           <!-- menu icon -->
      <ion-buttons *ngIf="!isSearchbarOpened" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- title -->
      <ion-title  *ngIf="!isSearchbarOpened" >{{ 'DASHBOARD.title' | translate }}</ion-title>

      <!-- search bar button -->
      <ion-buttons slot="end">
        <!-- <ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" > -->
            <ion-icon color="primary" name="search" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"> </ion-icon>
         <!-- </ion-button> -->
      </ion-buttons>
      <!-- Search Bar -->

    </ion-item>


   <ion-searchbar color="primary"  *ngIf="isSearchbarOpened" placeholder="{{ 'DASHBOARD.search_here' | translate }}" [(ngModel)]="term" animated="true" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>

     
  </ion-toolbar>
    
</ion-header>

<ion-content *ngIf="show" >


    
<!-- Default Segment / Search for the car according to the type of reservation -->
 <!--   First main Search  -->

  <ion-card  *ngIf="!isSearchbarOpened">
        <ion-card-header>

         <ion-card-title style=" margin-left:15%; margin-bottom: 3%;font-size:1.5em"> {{ 'DASHBOARD.search_car' | translate }} </ion-card-title>
              <!-- Label only -->
          <ion-segment [(ngModel)]="search_type">
            <ion-segment-button  value="class">
              <ion-label>{{ 'DASHBOARD.per_class' | translate }} </ion-label>
            </ion-segment-button>
            <ion-segment-button value="price">
              <ion-label>{{ 'DASHBOARD.per_price' | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="other">
              <label  textWrap="true" style="font-size:0.9em">{{ 'DASHBOARD.other' | translate }}</label>
            </ion-segment-button>
          </ion-segment>

        </ion-card-header>

        <ion-card-content>
             
               <!-- ----------------------START search type = "per class"------------------------------- -->
              <div *ngIf="search_type =='class'">
                <!-- start date -->
                <ion-radio-group allow-empty-selection [(ngModel)]="searchClass"  >
                   
                    <ion-item>
                      <ion-label>{{"DASHBOARD.business_class" | translate}}</ion-label>
                      <ion-radio slot="end" color="primary" value="business"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>{{"DASHBOARD.economic_class" | translate}}</ion-label>
                      <ion-radio slot="end" color="primary" value="economic"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>{{"DASHBOARD.premium_class" | translate}}</ion-label>
                      <ion-radio slot="end" color="primary" value="premium"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>{{"DASHBOARD.prestige_class" | translate}}</ion-label>
                      <ion-radio slot="end" color="primary" value="prestige"></ion-radio>
                    </ion-item>

                  </ion-radio-group>

                  <!-- button search -->

                <ion-button style="margin-left:15px" expand="block"  (click)="openClass()"> 
                      <ion-icon slot="start" name="search"></ion-icon>
                      {{ 'DASHBOARD.btn_search' | translate }}
                 </ion-button>
                
               </div>


            <!-- ----------------------END search type = "per class"------------------------------------------------------------------ -->
            
               <!-- ----------------------START search type = "per price"------------------------------- -->
              <div *ngIf="search_type =='price'">
                <!-- start date -->
                <ion-radio-group allow-empty-selection [(ngModel)]="searchPrice">
                   
                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.price_sup" | translate}} 50000 F CFA / {{"DASHBOARD.day" | translate}}</label>
                      <ion-radio slot="end" color="primary" value="50000+"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.price_less" | translate}} 50000 F CFA /  {{"DASHBOARD.day" | translate}}</label>
                      <ion-radio slot="end" color="primary" value="50000-"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.price_sup" | translate}} 5000 F CFA / {{"DASHBOARD.hour" | translate}}</label>
                      <ion-radio slot="end" color="primary" value="5000+"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <label  textWrap="true">{{"DASHBOARD.price_less" | translate}} 5000 F CFA /  {{"DASHBOARD.hour" | translate}}</label>
                      <ion-radio slot="end" color="primary" value="5000-"></ion-radio>
                    </ion-item>

                    

                  </ion-radio-group>

                  <!-- button search -->

                <ion-button expand="block"  (click)="openPrice()"> 
                      <ion-icon slot="start" name="search"></ion-icon>
                      {{ 'DASHBOARD.btn_search' | translate }}
                 </ion-button>
                
               </div>


            <!-- ----------------------END search type = "per price"------------------------------------------------------------------ -->
            
               <!-- ----------------------START search type = "Other"------------------------------- -->
              <div *ngIf="search_type =='other'">
                <!-- start date -->
                <ion-radio-group allow-empty-selection [(ngModel)]="searchOther">
                   
                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.place_sup" | translate}} 5</label>
                      <ion-radio slot="end" color="primary" value="5p+"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.place_less" | translate}} 5</label>
                      <ion-radio slot="end" color="primary" value="5p-"></ion-radio>
                    </ion-item>
                   
                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.baggage_sup" | translate}} 5</label>
                      <ion-radio slot="end" color="primary" value="5b+"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <label  textWrap="true"> {{"DASHBOARD.baggage_less" | translate}} 5</label>
                      <ion-radio slot="end" color="primary" value="5b-"></ion-radio>
                    </ion-item>

                   
                    

                  </ion-radio-group>

                  <!-- button search -->

                <ion-button expand="block" (click)="openOther()"> 
                      <ion-icon slot="start" name="search"></ion-icon>
                      {{ 'DASHBOARD.btn_search' | translate }}
                 </ion-button>
                
               </div>


            <!-- ----------------------END search type = "Other"------------------------------------------------------------------ -->
            


                

        </ion-card-content>

        <!-- List of cars -->
      
  </ion-card>

     <ion-list-header  style=" margin-left:23%"> 
          <ion-chip *ngIf="!isSearchbarOpened" > {{ 'DASHBOARD.our_vehicles' | translate }}  <br>
             <ion-icon   name="caret-down-sharp"></ion-icon>
           </ion-chip >

    
     </ion-list-header>


     <ion-card *ngFor="let item of filterData | filter:term">
    
        <div *ngFor="let photo of item.photo; let i = index " > 
          
          <img *ngIf="i== 0"  [src]="photo.image" />
          
        </div>
        
        <ion-card-header>
          <ion-card-subtitle>
             
                <!-- type of motor -->
                <ion-chip >
                  <ion-icon name="car"></ion-icon>
                  <ion-label >{{item.type_caburant}}</ion-label>
                </ion-chip>
                <!-- Car price-->
                <ion-chip >
                  <!-- <ion-icon name="medal" ></ion-icon> -->
                  <ion-label  textWrap="true">{{item.per_day}} F CFA / {{ 'DASHBOARD.day' | translate }}</ion-label>
                </ion-chip> <br>
                <!-- Number of Seats-->
                <ion-chip >
                  <ion-icon name="person"></ion-icon>
                  <ion-label >{{item.passager}} {{ 'DASHBOARD.seats' | translate }} </ion-label>
                </ion-chip>
                <!-- car color -->
              <ion-chip>
                <ion-label >{{ 'DASHBOARD.color' | translate }} {{item.couleur}} </ion-label> 
              </ion-chip>

          </ion-card-subtitle>
          <ion-card-title  > {{item.modele.libelle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                        
               <!-- More-->
             <ion-chip style="margin-left:30%; background: white; color: black;" (click)="carDetails(item.id)" >
                <ion-label >{{ 'DASHBOARD.btn_view_details' | translate }} </ion-label>
                <ion-icon name="chevron-forward"></ion-icon>
            </ion-chip>

      
        </ion-card-content>
      </ion-card>

    <!-- </ion-item> -->



 





</ion-content>
