<ion-header>
  <ion-toolbar>

       <ion-item>
        <ion-buttons slot="start"  *ngIf="reservDetails==null">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

      <!-- prev icon -->
           <ion-icon color="light" name="chevron-back" (click)="prev()" *ngIf="reservDetails!=null" ></ion-icon>
        <ion-title> {{"DASHBOARD.my_bookings" | translate}} </ion-title>
    </ion-item> 

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

    <!-- --------------------- if  reservDetails== null----------------------------------------------------------------- -->
       
     <div *ngIf="reservDetails==null">
        <!-- Start reservation -->
       <ion-card *ngFor="let item of filterData ; index as i" >
          
          
        <img [src]="item?.photo_car[0]?.image" />

            <ion-card-header>
                    <ion-card-title >{{item.modele}}</ion-card-title>

              <ion-card-subtitle>

                  
               <!-- Status -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_status" | translate }} </ion-label>
                    <ion-chip slot="end" *ngIf="item.etape_location == 1 && lang=='fr'" style="color:orange"> En cours de traitement </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 1 && lang=='en'" style="color:orange"> Being processed </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 2 && lang=='fr'" style="color:purple"> Confirmée </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 2 && lang=='en'" style="color:purple"> Confirmed </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 3 && lang=='fr'" style="color:red"> Rejetée pour défaut paiement</ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 3 && lang=='en'" style="color:red"> Rejected for default of payment </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 4 && lang=='fr'" style="color:blue"> Réservation Débutée </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 4 && lang=='en'" style="color:blue"> Reservation started </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 5 && lang=='fr'" style="color:green"> Réservation terminée </ion-chip>
                    <ion-chip slot="end" *ngIf="item.etape_location == 5 && lang=='en'" style="color:green">Reservation completed </ion-chip>
                   
                </ion-item>
                <!-- Starting date -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_start_date" | translate }} </ion-label>
                    <ion-chip slot="end"> {{item.date_debut}} </ion-chip>
                </ion-item>
                  <!-- Destination -->
            
               <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_destination" | translate }} </ion-label>
                    <ion-chip slot="end"> {{item.destination}} </ion-chip>
                </ion-item>

                

              </ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>
                                        
                   <!-- button View details-->
                  <ion-button  style="margin-left:30%" (click) = "viewDetails(i)" >
                      <ion-label >{{ "RESERVECAR.booking_view_detail" | translate }}</ion-label>
                  </ion-button>
          
          
            </ion-card-content>
      </ion-card>
        <!-- Stop Reservation -->
      </div>  
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <!-- --------------------- if  reservDetails!= null----------------------------------------------------------------- -->
       
     <div *ngIf="reservDetails!=null">
        <!-- Start reservation -->
       <ion-card *ngIf="reservDetails " >
          
          
        <img [src]="reservDetails?.photo_car[0]?.image" />

            <ion-card-header>
                    <ion-card-title >{{reservDetails.modele}}</ion-card-title>

              <ion-card-subtitle>

                  
               <!-- Status -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_status" | translate }} </ion-label>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 1 && lang=='fr'" style="color:orange"> En cours de traitement </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 1 && lang=='en'" style="color:orange"> Being processed </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 2 && lang=='fr'" style="color:purple"> Confirmée </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 2 && lang=='en'" style="color:purple"> Confirmed </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 3 && lang=='fr'" style="color:red"> Rejetée pour défaut paiement</ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 3 && lang=='en'" style="color:red"> Rejected for default of payment </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 4 && lang=='fr'" style="color:blue"> Réservation Débutée </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 4 && lang=='en'" style="color:blue"> Reservation started </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 5 && lang=='fr'" style="color:green"> Réservation terminée </ion-chip>
                    <ion-chip slot="end" *ngIf="reservDetails.etape_location == 5 && lang=='en'" style="color:green">Reservation completed </ion-chip>
                   
                </ion-item>
               
                <!-- Location date -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_date" | translate }}</ion-label>
                    <ion-chip slot="end"> {{reservDetails.date_location}} </ion-chip>
                </ion-item>
                <!-- Starting date -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_start_date" | translate }} </ion-label>
                    <ion-chip slot="end"> {{reservDetails.date_debut}} </ion-chip>
                </ion-item>
                <!-- Return date -->
                <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_end_date" | translate }}</ion-label>
                    <ion-chip slot="end"> {{reservDetails.date_fin}} </ion-chip>
                </ion-item>
                  <!-- Destination -->
            
               <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_destination" | translate }} </ion-label>
                    <ion-chip slot="end"> {{reservDetails.destination}} </ion-chip>
                </ion-item>
                  <!-- Price -->
            
               <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_price" | translate }} </ion-label>
                    <ion-chip slot="end"> {{reservDetails.montant}} F CFA </ion-chip>
                </ion-item>
                  <!-- your comment/ message -->
            
               <ion-item>
                    <ion-label > {{ "RESERVECAR.booking_your_message" | translate }} </ion-label>
                </ion-item> 
    
                <ion-label style="color:white;margin-right:10%; margin-left:7%; text-align:justify;">
                   {{reservDetails.commentaire_client}}  
                </ion-label>

                

              </ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>
                                        
                  
            </ion-card-content>
      </ion-card>
        <!-- Stop Reservation -->
      </div>  
    <!-- -------------------------------------------------------------------------------------- -->





</ion-content>
