<ion-header>
  <ion-toolbar>

       <ion-item>
        <ion-buttons slot="start"  *ngIf="reservDetails==null">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

      <!-- prev icon -->
           <ion-icon style="margin-right:20%" color="light" name="chevron-back" (click)="prev()" *ngIf="reservDetails!=null" ></ion-icon>
        <ion-title > {{"DASHBOARD.my_bookings" | translate}} </ion-title>
    </ion-item> 

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="show">

    <!-- --------------------- if  reservDetails== null----------------------------------------------------------------- -->
       
     <div *ngIf="reservDetails==null">
        <!-- Start reservation -->
       <ion-card *ngFor="let item of filterData ; index as i" >
          
          
        <img [src]="item?.photo_car[0]?.image" />

            <ion-card-header>
                    <ion-item> 
                        <ion-card-title >{{item.modele}}</ion-card-title>

                        <ion-icon *ngIf="item.etape_location==1" style="color: #ffa60a" slot="end"
                          name="close-circle-outline" (click)="cancel(i)">
                         
                         </ion-icon>
                        
                        <ion-icon *ngIf="(item.etape_location==3 && item.note_client == 0) ||(item.etape_location==3 && item.note_client==null)" style="color:#ffa60a " slot="end"
                          name="open-outline" (click)="Mark(i)">
                         
                         </ion-icon> 

                    </ion-item>
              <ion-card-subtitle>

                  
               <!-- Status -->
                <ion-item>
                    <label textWrap="true" style=" width: 150px" > {{ "RESERVECAR.booking_status" | translate }} </label>
                    <label textWrap="true" style="margin-left:5%;color:white;width: 150px" *ngIf="item.etape_location == 1 && lang=='fr'" > En attente de paiement </label>
                    <label textWrap="true" style="margin-left:5%;color:white;width: 150px" *ngIf="item.etape_location == 1 && lang=='en'"> Pending Payment </label>
                    <label textWrap="true" style="margin-left:5%;color:white;width: 150px" *ngIf="item.etape_location == 2 && lang=='fr'" > Annuler </label>
                    <label  *ngIf="item.etape_location == 2 && lang=='en'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Cancelled </label>
                    <label *ngIf="item.etape_location == 3 && lang=='fr'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Réservation terminée</label>
                    <label  *ngIf="item.etape_location == 3 && lang=='en'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Reservation completed </label>
                    <label  *ngIf="item.etape_location == 4 && lang=='fr'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Réservation Débutée </label>
                    <label  *ngIf="item.etape_location == 4 && lang=='en'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Reservation started </label>
                    <label  *ngIf="item.etape_location == 5 && lang=='fr'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Rejetée  </label>
                    <label  *ngIf="item.etape_location == 5 && lang=='en'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Rejected </label>
                    <label  *ngIf="item.etape_location == 6 && lang=='fr'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Confirmer </label>
                    <label  *ngIf="item.etape_location == 6 && lang=='en'" textWrap="true" style="margin-left:5%;color:white;width: 150px"> Approved </label>
                  
                </ion-item>
                <!-- Starting date -->
                <ion-item>
                    <label textWrap="true" style=" width: 150px" > {{ "RESERVECAR.booking_start_date" | translate }} </label>
                    <label textWrap="true" style="margin-left:5%;color:white;width: 150px"> {{item.date_debut}} </label>
                </ion-item>
                  <!-- Destination -->
            
               <ion-item>
                    <label textWrap="true" style=" width: 150px"  > {{ "RESERVECAR.booking_destination" | translate }} </label>
                    <label textWrap="true" style=" margin-left:5%; color:white; width: 150px"> {{item.destination}} </label>
                </ion-item>

                

              </ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>

                  <!-- button View details-->
                  <ion-button  style="margin-left:30%" (click) = "viewDetails(i)" >
                    <ion-label >{{ "RESERVECAR.booking_view_detail" | translate }}</ion-label>
                  </ion-button>
          
            </ion-card-content>
        </ion-card>
                  <!-- Stop Reservation -->
      </div>  
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------- -->

    <!-- --------------------- if  reservDetails!= null----------------------------------------------------------------- -->
       
     <div *ngIf="reservDetails!=null">
        <!-- Start reservation -->
       <ion-card *ngIf="reservDetails " >
          
          
        <img [src]="reservDetails?.photo_car[0]?.image" />

            <ion-card-header>
                    <ion-card-title >{{reservDetails.modele}}</ion-card-title>

              <ion-card-subtitle>

                  
               <!-- Status -->
                <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_status" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 1 && lang=='fr'" > En attente de paiement </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 1 && lang=='en'" >  Pending payment </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 2 && lang=='fr'" > Annuler</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 2 && lang=='en'" > Cancelled </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 3 && lang=='fr'"> Réservation terminée </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 3 && lang=='en'" > Reservation completed  </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 4 && lang=='fr'" > Réservation Débutée </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 4 && lang=='en'" > Booking started </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 5 && lang=='fr'" > Réservation rejetée </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 5 && lang=='en'" > Booking rejected </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 6 && lang=='fr'" > Confirmer</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.etape_location == 6 && lang=='en'" > Approved </label>             
                </ion-item>
               
                <!-- Booking Type  -->
                <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_type" | translate }}</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"  *ngIf="reservDetails.type_location == 3"> {{ "RESERVECAR.airport_pick" | translate }}  </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.type_location == 2"> {{ "RESERVECAR.per_hour" | translate }}  </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.type_location == 1"> {{ "RESERVECAR.per_day" | translate }}   </label>
                </ion-item>
                <!-- Location date -->
                 <ion-item>
                    <label textWrap="true" style="width: 150px"  > {{ "RESERVECAR.booking_date" | translate }}</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.date_location}} </label>
                </ion-item>
                
                <!-- Starting date -->
                <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_start_date" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.date_debut}} </label>
                </ion-item>
                  <!-- Starting time -->
                <ion-item >
                    <label textWrap="true" style="width: 150px" > {{ "DASHBOARD.start_time" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.heure_debut}} </label>
                </ion-item>
                <!-- Return date -->
                <ion-item>
                    <label textWrap="true" style="width: 150px"> {{ "RESERVECAR.booking_end_date" | translate }}</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.date_fin}} </label>
                </ion-item>
              
                <!-- Return time -->
                <ion-item *ngIf="reservDetails.type_location == 2">
                    <label textWrap="true" style="width: 150px" > {{ "DASHBOARD.return_time" | translate }}</label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.heure_fin}} </label>
                </ion-item>
                  <!-- Departure -->
            
               <ion-item  *ngIf="reservDetails.type_location == 3">
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.departure" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.depart}} </label>
                </ion-item>
                  <!-- Destination -->
            
               <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_destination" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.destination}} </label>
                </ion-item>

                  <!-- Price -->
            
               <ion-item>
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.booking_price" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px"> {{reservDetails.montant}} F CFA </label>
                </ion-item>

                 <!-- your marks: -->
            
               <ion-item *ngIf="reservDetails.note_client>0">
                    <label textWrap="true" style="width: 150px" > {{ "RESERVECAR.marks" | translate }} </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==1 && lang == 'fr'"> Très Mauvais </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==1 && lang == 'en'"> Very Bad </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==2 && lang == 'fr'"> Mauvais </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==2 && lang == 'en'"> Bad </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==3 && lang == 'fr'"> Moyen </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==3 && lang == 'en'"> Average </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==4 && lang == 'fr'"> Bien </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==4 && lang == 'en'"> Bien </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==5 && lang == 'fr'"> Très Bien </label>
                    <label textWrap="true" style="margin-left: 5%;color:white;width: 150px" *ngIf="reservDetails.note_client==5 && lang == 'en'"> Very good </label>
                </ion-item>
                <label textWrap="true" style="margin-left: 5%;color:white;" *ngIf="reservDetails.note_client>0"> {{reservDetails.commentaire_client}} </label> <br>

                  <!-- your comment/ message -->
            
               <ion-item>
                    <label > {{ "RESERVECAR.booking_your_message" | translate }} </label>
                </ion-item> 
              
                <ion-label style="color:white;margin-right:10%; margin-left:7%; text-align:justify;">
                   {{reservDetails.message}}  
                </ion-label> 

               
                

              </ion-card-subtitle>
            </ion-card-header>


            <ion-card-content>
  
            </ion-card-content>
          </ion-card>
        <!-- Stop Reservation -->
      </div>  
    <!-- -------------------------------------------------------------------------------------- -->





</ion-content>
