ion-card,ion-toolbar,ion-segment
{
    --background: black; 
}



ion-item
{
    --background: black; 
    color:  #ffa60a;
}

ion-button,ion-chip
{
  color: black; 
  --background:  #ffa60a;

}

// ion-chip
// {
//     color: black; 
//     --background: white;
//     border-color: black;
// }

ion-segment-button
{
    color : #ffa60a;
}

ion-card-title
{
    color : white;
}
label
{
    font-size:0.9em;
}