<!-- <ion-header>
  <ion-toolbar>
       <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
     </ion-buttons>
   <ion-title class="register">Forget Password</ion-title>
 </ion-toolbar> 
</ion-header> -->

<ion-content >
 <div class="backgroundcss">
   <div id="container">
     <ion-card class="cardcss" >
          <hr/>
       <ion-card-content>
          <ion-input class="inputcomp" type="email" [(ngModel)] = "email"  placeholder="{{'SIGNUP.email' | translate }}"></ion-input>
         <br> 
        <ion-label> 
               {{'Password.message' | translate }}
        </ion-label> <br> 
         <div class="divloginbtn">
           <br>
           <button [ngClass]="{'loginbtn_black':btnClicked == false,
           'loginbtn_yellow':btnClicked == true}" (click)="forgetPassword()">{{'Password.reset_password' | translate }}</button>
           <br><br>
          <span class="backtohome" clear  (click)="backToHome()" tappable> <u>{{"LOGIN.back_to_home"| translate}}</u></span>
          <br>
          </div>
          <br>  
         <br>
       </ion-card-content>
     </ion-card>
    </div>

   </div>

</ion-content>

